<header xmlns:th="http://www.w3.org/1999/xhtml" class="header">
    <div class="container" style="width: 96%">
        <a class="logo pull-left" href="#/"><img src="/static/tracker/app/images/garmin.gif" alt="logo"></a>
        <button class="btn btn-default-light pull-right" data-toggle="modal" data-target="#myRegistrationModal">
            Registration
        </button>
        <button class="btn btn-default-light pull-right" data-toggle="modal" data-target="#myLoginModal">Login</button>
    </div>
</header><!-- /top-bar -->

<div class="content-wrap">
    <div class="content">
        <section class="first-section">
            <div class="container">
                <div class="text-wrap">
                    <!--<h1>Be sure that your device<br> are controlled from<br> everywhere</h1>-->
                    <!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myLoginModal">Sign Up</button>-->
                    <!--<button class="btn btn-default-light btn-lg">Watch a Video</button>-->
                </div>
            </div>
        </section>
    </div>

</div><!-- /content-wrap -->

<!-- Login Modal -->
<div id="myLoginModal" class="modal fide in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-landing-sm">
        <div class="modal-content" style="background-color: rgb(245, 245, 245)">
            <div class="modal-header">
                <button id="closeModalBtn" type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h5><img style="height: 60px; width: 200px;" class="login-logo"
                         src="/static/tracker/app/images/logo_registration.jpg" alt=""/></h5>
            </div>
            <form name="loginForm">
                <div class="modal-body">
                    <h5>
                        <a href="/auth/facebook?scope=email">
                            <img class="fb-login-icon-login" src="/static/tracker/app/images/facebook-login.jpg"/>
                        </a>
                    </h5>
                    <p></p>
                    <h5>or using email</h5>
                    <p></p>
                    <div class="alert alert-success text-center" role="alert" style="display: none"
                    ></div>
                    <br/>

                    <input required="required" type="email" id="loginEmail" class="form-control" autocomplete="off"
                           placeholder="E-Mail Address" ng-model="userForLogin.email"/>
                    <br/>

                    <input required="required" type="password" id="loginPassword" autocomplete="off"
                           class="form-control" placeholder="Enter password" ng-model="userForLogin.password"/><br/>

                    <p class="clearfix">
                    <h5>
                        <a href="/conditions">Forgot password</a>
                    </h5>
                    </p>

                    <div class="alert alert-danger text-center" role="alert" style="display: none"></div>
                </div>

                <div class="modal-footer">
                    <button ng-click="loginUser(loginForm.$valid)" ng-disabled="loginForm.$invalid" type="submit"
                            class="btn btn-primary btn-block">
                        <span>Login</span></button>
                </div>


            </form>
        </div>
    </div>
</div>

<!-- Registration Modal -->
<div id="myRegistrationModal" class="modal fide in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-landing-sm">
        <div class="modal-content" style="background-color: rgb(245, 245, 245)">
            <div class="modal-header">
                <button id="closeRegistrationModalBtn" type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5><img style="height: 60px; width: 200px;" class="login-logo"
                         src="/static/tracker/app/images/logo_registration.jpg" alt=""/></h5>
            </div>
            <form name="signUpForm" novalidate>
                <div class="modal-body">
                    <h5><span>Start using Gym-Tracker</span></h5>
                    <h5><span>for management of your Garmin Fenix 3</span></h5>

                    <h5>
                        <a href="/auth/facebook?scope=email">
                            <img class="fb-login-icon-reg" src="/static/tracker/app/images/sign-up-with-facebook.png"/>
                        </a>
                    </h5>
                    <p></p>
                    <h5>or using email</h5>
                    <p></p>
                    <div class="alert alert-success text-center" role="alert" style="display: none"
                    ></div>
                    <br/>
                    <input required="required" type="email" name="email" id="regEmail" class="form-control"
                           autocomplete="off" ng-model="userForRegistration.email"
                           placeholder="E-Mail Address"/><br/>

                    <input required="required" type="text" name="name" ng-model="userForRegistration.name" id="regName"
                           autocomplete="off"
                           class="form-control" placeholder="Name"/><br/>
                    <div class="form-group" ng-class="{'has-error':!signUpForm.passwordReg.$valid}">
                        <input required type="password" ng-model="userForRegistration.password"
                               name="passwordReg" id="regPass"
                               autocomplete="off"
                               class="form-control" placeholder="Enter password"/>
                    </div>
                    <br/>
                    <div class="form-group" ng-class="{'has-error':!signUpForm.confirmPasswordReg.$valid}">
                        <input required type="password" ng-model="userForRegistration.confirmPassword"
                               name="confirmPasswordReg"
                               id="regConfirmPass" autocomplete="off" password-confirm
                               match-target="userForRegistration.password"
                               class="form-control" placeholder="Confirm password"/><br/>
                    </div>
                    <p class="clearfix">
                    <h5>
                        <span>By registering, you are agreeing to our</span>
                        <a href="/conditions">Terms</a>
                        <span>of Service and Privacy Policy</span>
                    </h5>
                    </p>
                    <div class="alert alert-danger text-center" role="alert" style="display: none"></div>
                </div>

                <div class="modal-footer">
                    <button ng-click="registerUser(signUpForm.$valid)" ng-disabled="signUpForm.$invalid" type="submit"
                            class="btn btn-primary btn-block"><span>Register</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>